h1, h2, h3, h4, h5 {
    font-family:'Belanosima'!important;
}

.product-info {
        &__promotion-description {
        display:none!important;
    }
}

.badge {
  display:none!important;
}


.product-info__promotion-description {
 display:none!important;
}

.announcement-bar {
  font-weight: bold!important;
  color: #fff!important;
    line-height: 0!important;
  background-color: var(--color-primary)!important;
}
